.nav-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding: 1rem;
  .custom-nav-items {
    color: #ffffff !important ;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
  }
  .custom-nav-button {
    background: linear-gradient(135deg, #fd8b11 0%, #feca01 100%);
    border-radius: 10px;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 16px;
    color: #1e184d !important ;
    text-align: center;
    letter-spacing: 0.02em;
  }
}

@media (max-width: 990px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

